<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle Cliente</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-md-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header  bg-dark">
                    <h1 class="text-center text-white" th:text="#{ver.detalle} + ' ' + #{clientes}"></h1>
                </div>
                <div class="card-body">
                    <form action="/clientes">
                        <button type="submit" class="btn btn-success" th:text="#{volver}"></button>
                    </form>

                    <div class="form-group">
                        <label for="codigo">Id</label>
                        <input id="codigo" class="form-control" th:value="${cliente.id}" readonly="readonly"/>
                    </div>

                    <div class="form-group">
                        <label for="nombre" th:text="#{nombre}"></label>
                        <input id="nombre" class="form-control" th:value="${cliente.nombre}" readonly="readonly"/>
                    </div>
                    <div class="form-group">
                        <label for="apellido1" th:text="#{apellido}"> 1</label>
                        <input id="apellido1" class="form-control" th:value="${cliente.apellido1}" readonly="readonly"/>
                    </div>
                    <div class="form-group">
                        <label for="apellido2" th:text="#{apellido}"> 2</label>
                        <input id="apellido2" class="form-control" th:value="${cliente.apellido2}" readonly="readonly"/>
                    </div>
                    <div class="form-group">
                        <label for="ciudad" th:text="#{ciudad}"></label>
                        <input id="ciudad" class="form-control" th:value="${cliente.ciudad}" readonly="readonly"/>
                    </div>
                    <div class="form-group">
                        <label for="categoria" th:text="#{categoria}"></label>
                        <input id="categoria" class="form-control" th:value="${cliente.categoria}" readonly="readonly"/>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="container mt-5">
                    <h1 class="text-center" th:text="#{pedidos} + ' '+ #{realizados.con}+' '+ #{comerciales}"></h1>
                    <table class="table table-striped">
                        <thead class="table-dark">
                        <tr>
                            <th th:text="#{nombre}"></th>
                            <th th:text="#{numero}+' '+#{pedidos}"></th>
                            <th th:text="#{semestre}"></th>
                            <th th:text="#{trimestre}"></th>
                            <th th:text="#{anio}"></th>
                            <th th:text="#{lustro}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="comercial : ${clienteDTO.getComerciales()}">
                            <td th:text="${comercial.getNombre()}"></td>
                            <td th:text="${clienteDTO.getPedidosComercial(comercial)}"></td>
                            <td th:text="${clienteDTO.getSemestre(comercial)}"></td>
                            <td th:text="${clienteDTO.getTrimestre(comercial)}"></td>
                            <td th:text="${clienteDTO.getAnio(comercial)}"></td>
                            <td th:text="${clienteDTO.getLustro(comercial)}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
